.gb-sayt-target {
    top: 41px;
    z-index: 100;
}

.gb-sayt li {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.gb-sayt li a {
    color: #969696;
    font-size: 12px;
    text-decoration: none;
    outline: none;
}

li.gb-autocomplete__item.active {
    border: none;
    background-image: none;
    font-weight: normal;
    background-color: #f5f5f5;
    margin-left: -1px;
}

li.gb-autocomplete__item.active a {
    color: #00A9CC;
}

.gb-autocomplete__link b {
    font-weight: normal;
}

div.gb-paging {
    display: flex;
}

.gb-paging__link > .gb-paging__icon {
    display: none;
}

.gb-paging__link.next, .gb-paging__link.prev {
    text-transform: uppercase;
}

.gb-paging__link.prev {
    order: 999;
}

.gb-paging__link.next {
    order: 1001;
}

div.gb-paging:after {
    content: '|';
    order: 1000;
}

.gb-paging__link.prev, div.gb-paging > .gb-paging__link.next {
    font-weight: bold;
    padding: 0;
}

.gb-paging__link.prev:hover, .gb-paging__link.next:hover {
    background: none;
    border-radius: 0;
    color: #00a9cc;
    text-decoration: underline;
}

.gb-paging__link.first.disabled, 
.gb-paging__link.last.disabled, 
.gb-paging__link.prev.disabled,
.gb-paging__link.next.disabled {
    opacity: 1;
}

.school-specialty-hidden-paging-link {
    display: none !important; 
}