.gb-results {
  display: flex;
  flex-wrap: wrap;
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
}

.gb-product > div {
  height: 396px;
  margin-bottom: 5px;
}

.desc-bottom {
  text-align: left;
}

.gb-nav {
    padding-left: 0.5em;
}

.gb-nav__title {
    text-decoration: underline
}

ul.gb-nav__list {
    padding-left: 0;
    margin-left: 0;
}

li.gb-ref {
     list-style-type: none;
}

.gb-ref__badge:before {
    content: '('
}

.gb-ref__badge:after {
    content: ')'
}

.gb-nav__title {
    margin-top: 0;
}
