/* Items display */

#ctl00_wpm_SearchPage_ctl09_ProductList {
  width: 784px;
}

.gb-results {
  display: flex;
  flex-wrap: wrap;
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
}

.gb-results__item {
  width: 190px;
  margin-right: 5px;
  margin-left: 1px;
}

.gb-product > div {
  height: 396px;
  margin-bottom: 5px;
}

.desc-bottom {
  text-align: left;
  display: table-cell;
  vertical-align: bottom;
  height: 50px;
  width: 146.117px;
}

.arrow-bottom {
  text-align: right;
  display: table-cell;
  vertical-align: bottom;
  width: 33.833px;
  padding-right: 5px;
}

/* Navigation */

.gb-nav {
    padding-left: 0.5em;
}

.gb-nav__title {
    text-decoration: underline
}

ul.gb-nav__list {
    padding-left: 0;
    margin-left: 0;
}

li.gb-ref {
     list-style-type: none;
}

.gb-ref__badge:before {
    content: '('
}

.gb-ref__badge:after {
    content: ')'
}

.gb-nav__title {
    margin-top: 0;
}

.gb-ref__link:hover {
    color: black;
}

/* Pagination */

div.paging {
  text-align: center;
}

.gb-paging__link.disabled {
  visibility: hidden;
}

.gb-paging__link.first {
  float: left;
}

.gb-paging__link.last {
  float: right;
}

.gb-paging span {
  display: none;
}

